/* <===================TYPOGRAPHY & FONTS===================> */

@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Quicksand&display=swap");

/* <===================CSS VARIABLES===================> */

:root {
  --h1-size: 7rem;
  --h2-size: 2.1rem;
  --h3-size: 1.7rem;
  --text-size: 1.3rem;
  --horizontal-margin-spacing: 6rem;
  --grey-color-light: rgba(232, 230, 230, 0.6);
  --grey-color: rgba(232, 230, 230, 1);
}

/* <===================UNIVERSAL CSS===================> */

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Cinzel", serif;
  color: #212121;
}

html {
  scroll-behavior: smooth;
}

.hz-margin {
  padding: 0 var(--horizontal-margin-spacing);
}

h1 {
  font-size: var(--h1-size) !important;
  font-weight: 500;
  line-height: var(--h1-size) !important;
}
h2 {
  font-size: var(--h2-size) !important;
  font-weight: bold;
}
h3 {
  font-size: var(--h3-size) !important;
  font-weight: 500;
}
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.text {
  font-family: "Quicksand", sans-serif;
  font-size: var(--text-size);
  line-height: 1.3rem;
}
.huge-btn {
  display: block;
  font-size: 1rem;
  background: transparent;
  border: 1px solid #212121;
  padding: 25px 50px;
  border-radius: 50px;
  width: fit-content;
  margin: 30px 0;
}
.huge-btn:hover {
  color: grey;
  border-color: grey;
}
.v-reposition-container {
  position: absolute;
  left: 0;
  width: 100vw;
}
.h-reposition-container {
  width: 100vw;
  position: relative;
  /* top: 100vh; */
}
/* <===================NAVBAR===================> */

nav {
  height: 3vh;
  width: 100%;
  margin-bottom: 20vh;
}
label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 0 0 30px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
  list-style: none;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: orange;
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 1000px) {
  label.logo {
    font-size: 20px;
  }
  nav ul li a {
    font-size: 15px;
  }
  html {
    font-size: 10px;
  }
}
@media (max-width: 570px) {
  .checkbtn {
    display: block;
  }

  .container-out {
    margin-top: 7vh !important;
  }

  .checkbtn {
    margin-right: 30px !important;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    top: 80px;
    font-weight: bold;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
    font-size: 16px;
  }
  nav li ul a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: grey;
  }
  #check:checked ~ ul {
    left: 0;
    padding-left: 0;
    z-index: 99;
  }
}

/* <===================HOME===================> */

.container-out {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-img {
  background-image: url(images/wedding-ring-2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home-img-sm {
  display: none;
  width: 100%;
  margin: 20px 0 0 0;
  height: 50vh;
}
#home-img-lg {
  display: block;
  height: 90vh;
  width: 54vw;
  background-position-x: -100px;
  border-radius: 4px;
}
@media (max-width: 1000px) {
  .container-out {
    flex-direction: column;
  }
  .home-img-sm {
    display: block;
  }
  #home-img-lg {
    display: none;
  }
}

/* <===================TIMELINE===================> */

.timeline {
  display: block;
  background-color: var(--grey-color-light);
  float: left;
  position: relative;
  top: -30vh;
  width: 100%;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 8vh var(--horizontal-margin-spacing);
}
.timeline-container {
  display: flex;
  flex-direction: row;
  margin: 8vh 0;
}
.timeline-img {
  background-image: url(images/hantaran.jpeg);
  border-radius: 8px;
  height: 70vh;
  width: 35vw;
  background-position: center;
  background-size: cover;
}
.timings {
  margin: 30px;
}
.timeline-container .text {
  padding: 1rem 0 1rem 3.7rem;
  line-height: 27px;
}
@media (max-width: 1000px) {
  .timeline {
    background-color: var(--grey-color);
    float: none;
    position: relative;
    top: 0;
    width: 100%;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0px);
    height: fit-content;
  }
  .timeline-container {
    flex-direction: column;
  }
  .timeline-img {
    height: 28vh;
    width: 100%;
  }
}

/* <===================STORY===================> */

#story {
  /* padding-top: 10vh; */
  display: flex;
  flex-direction: row;
  /* margin: 10vh 0; */
}
#story h3 {
  width: 40vw;
  margin-top: -100px;
}
#story p {
  width: 40vw;
  text-align: justify;
  font-size: var(--h3-size);
  line-height: var(--h3-size);
}
@media (max-width: 1000px) {
  .h-reposition-container {
    position: relative;
    top: 0;
  }
  #story {
    flex-direction: column;
  }
  #story h3 {
    width: 100%;
    margin: 5px 0;
    font-size: var(--h3-size);
  }
  #story p {
    width: 100%;
    margin: 5px 0;
    font-size: var(--text-size);
    line-height: var(--text-size);
  }
}

/* <===================GALLERY===================> */

.gallery {
  display: flex;
  padding: 1vh 0;
  justify-content: center;
  align-items: center;
}
.gallery-img {
  width: 30vw;
  height: 30vw;
  margin: 10px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
.gallery-img:nth-child(1) {
  background-image: url(images/cop-2.jpeg);
  background-position-x: right;
}
.gallery-img:nth-child(3) {
  background-image: url(images/cop-4.jpeg);
}
.gallery-img:nth-child(2) {
  background-position-y: top;
  background-image: url(images/cop-5.jpeg);
}
@media (max-width: 1000px) {
  .gallery {
    flex-direction: none;
    padding: 0;
    margin-top: 40px;
  }
  .gallery-img {
    width: 200px;
    height: 200px;
    margin: 2px 0;
  }
  .gallery-img:nth-child(2) {
    position: relative;
    left: -(var(--horizontal-margin-spacing));
  }
}

/* <===================QUOTE===================> */
.quote {
  margin: 10vh 0;
}
.quote h1 {
  width: 55vw;
  font-size: 4rem;
  text-align: center;
  margin: auto;
}
.author {
  text-align: center;
  margin: 20px 0 10vh 0;
}
@media (max-width: 1570px) {
  .quote h1 {
    font-size: 2rem !important;
    line-height: 2rem !important;
  }
}

/* <===================HANDS===================> */

.hands {
  height: 80vh;
  width: 100%;
  background-image: url(images/wedding-ring-2.jpeg);
  background-size: cover;
  background-position-y: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* <===================STAY===================> */
#stay {
  background-color: var(--grey-color);
  padding: 10vh var(--horizontal-margin-spacing);
  width: 100%;
}
.stay-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20vh 0;
}
.stay-item .text {
  margin: 20px 0;
}
.links {
  cursor: pointer;
  text-decoration: underline;
}
@media (max-width: 1000px) {
  .stay-container {
    flex-direction: column;
    margin: 10px 0;
  }
  .stay-item {
    margin: 2vh 0;
  }
}

/* <===================REGISTRY===================> */

#registry {
  padding: 20vh var(--horizontal-margin-spacing) 0
    var(--horizontal-margin-spacing);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.registry-container {
  display: block;
  width: 30vw;
}
.registry-container .text {
  text-align: justify;
  margin: 20px 0;
}
.registry-img {
  display: block;
  height: 100vh;
  width: 40vw;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/chuck-842bb.appspot.com/o/GurAmanWed%2Fpic7.jpg?alt=media&token=79b8d974-04ff-4b2d-bed5-82638399b34e);
  background-size: cover;
  background-position-y: top;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.registry-img-sm {
  display: none;
}
.registry-img-lg {
  display: block;
}
@media (max-width: 1000px) {
  #registry {
    flex-direction: column;
  }
  .registry-img {
    width: 100%;
    height: 50vh;
  }
  .registry-img-sm {
    margin-top: 10vh;
    display: block;
  }
  .registry-img-lg {
    display: none;
  }
  .registry-container {
    width: 100%;
  }
  #registry button {
    margin-inline: auto;
  }
}

/* <===================PARTING MESSAGE===================> */
.parting-message h1 {
  margin-top: 10vh;
  text-align: center;
}
.parting-message button {
  margin: 10vh auto;
}

/* <===================FOOTER===================> */

footer {
  margin-top: 20vh;
  height: fit-content;
  width: 100%;
  background-color: var(--grey-color);
  padding: 10vh 30px;
}
footer h2 {
  font-size: 2Srem;
  font-weight: normal;
}

@media only screen and(max-width: 991px) {
  .container-out {
    margin-top: 7vh !important;
  }

  .checkbtn {
    margin-right: 30px !important;
  }
}

@media (max-width: 1050px) {
  .wrap .timeline-img {
    height: 55vh;
  }

  .hands {
    height: 50vh;
  }

  #home-img-lg {
    height: 60vh;
  }

  .quote h1 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .hide {
    display: none;
  }

  .wrap .timeline-img {
    height: 30vh !important;
  }

  .timeline-container {
    margin-bottom: 0px !important;
  }

  #fh5co-couple-story {
    margin-top: 70px !important;
  }

  .font-16 {
    font-size: 16px !important;
  }
}

.card-bsi {
  width: 300px;
  height: 170px;
  border-radius: 12px;
  border: 1px solid #acacac;
  overflow: hidden;
}

.wave-1 {
  background: #31cad8;
  width: 100px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 0;
}

.wave-2 {
  background: #b4d256;
  width: 75%;
  position: absolute;
  top: -36px;
  left: -20px;
  height: 337px;
  transform: rotateZ(16deg);
  border-top-left-radius: 300px;
  border-bottom-left-radius: 300px;
}

.wave-3 {
  background: #de8819;
  width: 225px;
  height: 100vh;
  position: absolute;
  top: -100px;
  left: -86px;
  transform: rotateZ(41deg);
}

.wave-3:before {
  content: "";
  display: block;
  width: 72%;
  height: 40%;
  background-color: #fff;
  border-radius: 70%;
  z-index: 2;
  position: absolute;
  left: -79px;
}

.card-chip {
  position: absolute;
  top: 45px;
  left: 25px;
  width: 45px;
  height: 34px;
  border-radius: 5px;
  background-color: #ffda7b;
  overflow: hidden;
  z-index: 3;
  border: 1px solid #acacac;
}

.card-chip::before {
  content: "";
  position: absolute;
  left: 49%;
  top: -7%;
  transform: translateX(-50%);
  background: #ffda7b;
  border: 1px solid #a27c1f;
  width: 25%;
  height: 110%;
  border-radius: 100%;
  z-index: 2;
}

.card-chip::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -10%;
  background: transparent;
  border: 1px solid #a27c1f;
  width: 120%;
  height: 33%;
}

.card-name {
  position: absolute;
  z-index: 5;
  font-weight: 600;
  font-size: 8px;
  top: 30%;
  left: 26%;
  font-family: auto;
}

.logo-bsi {
  position: absolute;
  z-index: 3;
  top: 0%;
  right: -1%;
}

.icon-gpn {
  position: absolute;
  z-index: 3;
  bottom: 6%;
  right: 4%;
}

.card-number {
  position: absolute;
  z-index: 3;
  bottom: 21%;
  font-family: "Quicksand";
  left: 8%;
}

.valid-thru {
  position: absolute;
  z-index: 3;
  bottom: 8%;
  right: 30%;
}

.valid-thru .text-valid {
  font-size: 4px;
  display: flex;
  align-items: center;
}

.fs-20 {
  font-size: 20px;
}

@media (min-width: 991px) {
  .wave-3 {
    height: 113vh;
  }

  .card-number {
    bottom: 18%;
  }

  .card-number div:nth-child(2) {
    margin-left: 0px;
  }

  .wave-3:before {
    left: -117px;
  }
}
